@import "../../node_modules/swiper/swiper-bundle";

.main {
  width: 200px;
  height: 200px;
  background: rgb(34, 2, 2);

  .inner {
    width: 100px;
    height: 100px;
    background: rgb(248, 44, 95);
    padding: 0;
  }
}
