<div class="modal">
    <a href="#" class="modal__close">
      <svg class="modal__close-svg">
        <use href="#modal-close"></use>
      </svg>
    </a>
    <div class="modal__content">
      <div class="modal__top-box">
        <h2 class="modal__title">Calculate the cost of work</h2>
        <div class="modal__form form">
            <input type="text" class="form__input" placeholder="Name" />
            <input type="tel" class="form__input" placeholder="Phone" />
            <input type="email" class="form__input" placeholder="Email" />
            <input type="text" class="form__input" placeholder="Last name" />
            <input type="text" class="form__input" placeholder="Your city" />
            <div class="dropdown form__dropdown">
               <div class="dropdown__box-modal">
                    <p class="dropdown__text">Property type</p>
                    <svg class="dropdown__svg-arrow">
                        <use href="#arrow-bottom"></use>
                    </svg>
                </div>
                <ul class="dropdown__menu">
                    <li class="dropdown__menu-item">Kitchen</li>
                    <li class="dropdown__menu-item">Bathroom</li>
                    <li class="dropdown__menu-item dropdown__menu-item_active">
                        Floor
                    </li>
                    <li class="dropdown__menu-item">Guestroom</li>
                </ul>
            </div>
            <textarea name="" id="" cols="30" rows="3" class="form__text-area" placeholder="Your comment"></textarea>
        </div>
    </div>
    </div>
    
</div>