<section
    class="projects-second @@if (context.colors === 'black') {projects-second_black}"
>
    <div class="projects-second__container">
        <div class="projects-second__content-box">
            <h2 class="projects-second__title">@lorem.ipsum</h2>
            <p class="projects-second__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                ullamcorper eu mauris vitae posuere.
            </p>
        </div>
    </div>

    <picture>
        <source srcset="./images/reused/reused-6.webp" type="image/webp" />
        <img
            src="./images/reused/reused-6.png"
            alt="photo"
            class="projects-second__img projects-second__img_first"
        />
    </picture>

    <picture>
        <source srcset="./images/reused/reused-5.webp" type="image/webp" />
        <img
            src="./images/reused/reused-5.png"
            alt="photo"
            class="projects-second__img projects-second__img_second"
        />
    </picture>

    <picture>
        <source srcset="./images/reused/reused-3.webp" type="image/webp" />
        <img
            src="./images/reused/reused-3.png"
            alt="photo"
            class="projects-second__img projects-second__img_third"
        />
    </picture>

    <picture>
        <source srcset="./images/reused/reused-4.webp" type="image/webp" />
        <img
            src="./images/reused/reused-4.png"
            alt="photo"
            class="projects-second__img projects-second__img_fourth"
        />
    </picture>

    <picture>
        <source srcset="./images/reused/reused-7.webp" type="image/webp" />

        <img
            src="./images/reused/reused-7.png"
            alt="photo"
            class="projects-second__img projects-second__img_fivth"
        />
    </picture>

    <picture>
        <source srcset="./images/reused/reused-2.webp" type="image/webp" />
        <img
            src="./images/reused/reused-2.png"
            alt="photo"
            class="projects-second__img projects-second__img_sixth"
        />
    </picture>

    <picture>
        <source srcset="./images/reused/reused-8.webp" type="image/webp" />
        <img
            src="./images/reused/reused-8.png"
            alt="photo"
            class="projects-second__img projects-second__img_seventh"
        />
    </picture>

    <picture>
        <source srcset="./images/reused/reused-3.webp" type="image/webp" />
        <img
            src="./images/reused/reused-3.png"
            alt="photo"
            class="projects-second__img projects-second__img_eighth"
        />
    </picture>
</section>
