<section class="promo">
    <!-- Slider main container -->
    <div class="swiper promo__swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide promo__slide">
                <picture>
                    <source
                        srcset="./images/main/main-1.png"
                        type="image/webp"
                    />
                    <img
                        src="./images/main/main-1.png"
                        alt="photo"
                        class="promo__left-img"
                    />
                </picture>
            </div>

            <div class="swiper-slide promo__slide">
                <picture>
                    <source
                        srcset="./images/main/main-2.png"
                        type="image/webp"
                    />
                    <img
                        src="./images/main/main-2.png"
                        alt="photo"
                        class="promo__right-img"
                    />
                </picture>
            </div>

            <div class="swiper-slide promo__slide">
                <picture>
                    <source
                        srcset="./images/main/main-8.png"
                        type="image/webp"
                    />

                    <img
                        src="./images/main/main-8.png"
                        alt="photo"
                        class="promo__left-img"
                    />
                </picture>
            </div>

            <div class="swiper-slide promo__slide">
                <picture>
                    <source
                        srcset="./images/main/main-2.webp"
                        type="image/webp"
                    />
                    <img
                        src="./images/main/main-2.png"
                        alt="photo"
                        class="promo__right-img"
                    />
                </picture>
            </div>

            <!-- <div class="swiper-slide promo__slide">
                <img src="../../images/main/main-2.png" alt="photo" class="promo__left-img"/>
            </div> -->
        </div>
        <!-- If we need pagination -->
        <div class="swiper-scrollbar promo__swiper-scrollbar"></div>
        <div class="promo__swiper-pagination"></div>

        <div class="promo__button-prev">
            <svg class="promo__button-svg">
                <use href="#left-arrow"></use>
            </svg>
            <span class="promo__number promo__number_left">01</span>
        </div>
        <div class="promo__button-next">
            <span class="promo__number">04</span>
            <svg class="promo__button-svg">
                <use href="#right-arrow"></use>
            </svg>
        </div>
    </div>
    <div class="promo__content">
        <div class="promo__container">
            <div class="promo__content-top">
                <h1 class="promo__content-title">Thoughtful making of space</h1>

                <a class="discover-link promo__content-link">Discover more</a>
            </div>

            <div class="promo__right">
                <p class="promo__right-text">Next Project</p>
                <h2 class="promo__right-title">Perfect proportions</h2>
            </div>
        </div>
    </div>

    <div class="promo__content-bottom content-bottom">
        <div class="content-bottom__inner">
            <div class="content-bottom__socials">
                <a href="#" class="content-bottom__social">Fb</a>
                <a href="#" class="content-bottom__social">In</a>
                <a href="#" class="content-bottom__social">Be</a>
            </div>
            <div class="content-bottom__dropdown dropdown">
                <div class="dropdown__box">
                    <svg class="dropdown__svg-geo">
                        <use href="#geolocation"></use>
                    </svg>
                    <p class="dropdown__text">Berlin</p>
                    <svg class="dropdown__svg-arrow">
                        <use href="#arrow-promo"></use>
                    </svg>
                </div>
                <ul class="dropdown__menu">
                    <li class="dropdown__menu-item">New York</li>
                    <li class="dropdown__menu-item">Barselona</li>
                    <li class="dropdown__menu-item dropdown__menu-item_active">
                        Berlin
                    </li>
                    <li class="dropdown__menu-item">Zorya</li>
                </ul>
            </div>
            <div class="content-bottom__info">
                <a href="tel:+380983527547" class="content-bottom__link"
                    >+380983527547</a
                >
                <a href="mailto:info@gmail.com" class="content-bottom__link"
                    >E: info@gmail.com</a
                >
            </div>
        </div>
    </div>
</section>
