.not-found {
    background-image: url("../images/reused/reused-10.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;

    &__container {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100%;
        margin-left: 200px;

        @include breakpoints(sm) {
          margin-left: 185px;
        }

        @include breakpoints(xs) {
          margin-left: 20px;
        }
    }

    &__content {
        margin: auto 0;
        // height: 100%;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 24px;
        color: $backgroundColor;

        @include breakpoints(md) {
          font-size: 32px;
        }
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 171%;
        color: $whiteColor;
        margin-bottom: 48px;
    }

    &__link {
        color: $whiteColor;
        text-transform: uppercase;
        margin-left: 16px;

        &::after {
            left: -10px;
            width: 8px;
            opacity: 0.2;
        }

        &::before {
            left: 115px;
            opacity: 0.2;
        }
    }
}
