.news {
  &__background {
    background: url("../images/news/news-4.png") no-repeat;
    aspect-ratio: 20/7;
    background-size: cover;
  }

  &__communication {
    padding: 138px 0 0 135px;

    &-title {
      color: $whiteColor;
      width: 424px;
      line-height: 142%;
    }

    &-block {
      display: flex;
      width: 89%;
      justify-content: end;
      margin-top: 25px;
    }

    &-block-item {
      width: 382px;
    }

    &-text {
      width: 366px;
      color: $whiteColor;
    }
  }

  &__form {
    margin-top: 43px;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 300;
    position: relative;
    display: flex;
    align-items: center;
    &::after {
      content: '';
      display: flex;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      background: $newsFormImput;
      opacity: 0.3;
      z-index: 1;
      transition: opacity 0.5s ease-in-out;

      &:focus {
        opacity: 1;
      }
    }



    &-label {
      position: absolute;
      color: $whiteColor;
      opacity: 1;
      z-index: -0;
      transition: top 0.5s ease-in-out;
    }

    &-input {
      position: relative;
      //padding: 20px;
      color: $whiteColor;
      width: 93%;
    }

    &-button {
      //position: absolute;
      right: 1%;
    }

    &-img {
      width: 20px;
      height: 17px;
      opacity: 0.5;
    }
  }
}