<header
    class="header header__background background-trriger-tr "
>
    <div class="header header__container">
        <div class="header__content">
            <nav class="header__link-block">
                <a class="header__logo text-trriger" href="index.html">Logo</a>
                <ul class="header__link-items">
                    <li>
                        <a class="link text-trriger" href="projects.html"
                            >Projects</a
                        >
                    </li>
                    <li>
                        <a class="link text-trriger" href="about.html"
                            >About us</a
                        >
                    </li>
                    <li>
                        <a class="link text-trriger" href="news.html">Blog</a>
                    </li>
                    <li>
                        <a class="link text-trriger" href="contacts.html"
                            >Contacts</a
                        >
                    </li>
                </ul>

                <div class="header__burger-menu">
                    <div class="header__burger-icon background-trriger">
                        <span></span>
                        <span></span>
                    </div>
                    <div class="header__burger-background">
                        <div class="header__scroll">
                            <ul class="header__burger-items header__container">
                                <li class="header__burger-item-container">
                                    <a class="header__burger-item" href="#"
                                        >Home</a
                                    >
                                </li>
                                <li class="header__burger-item-container">
                                    <a
                                        class="header__burger-item"
                                        href="projects.html"
                                        >Projects</a
                                    >
                                </li>
                                <li class="header__burger-item-container">
                                    <a
                                        class="header__burger-item"
                                        href="about.html"
                                        >About us</a
                                    >
                                </li>
                                <li class="header__burger-item-container">
                                    <a
                                        class="header__burger-item"
                                        href="news.html"
                                        >Blog</a
                                    >
                                </li>
                                <li class="header__burger-item-container">
                                    <a
                                        class="header__burger-item"
                                        href="contacts.html"
                                        >Contacts</a
                                    >
                                </li>
                                <li class="header__burger-section">
                                    <a
                                        class="button-trriger header__burger-button"
                                        href="#"
                                        >Send Request</a
                                    >
                                </li>
                            </ul>
                            <div
                                class="header__burger-contact header__container"
                            >
                                <ul class="header__burger-contact-items">
                                    <li>
                                        <a
                                            class="header__burger-contact-item"
                                            href="#"
                                            >Fb</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="header__burger-contact-item"
                                            href="#"
                                            >In</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="header__burger-contact-item"
                                            href="#"
                                            >Be</a
                                        >
                                    </li>
                                </ul>
                                <div class="header__burger-select">
                                    <select class="select__city" name="city">
                                        <option class="select__value" value="1">
                                            Berlin
                                        </option>
                                        <option class="select__value" value="2">
                                            Kyiv
                                        </option>
                                        <option class="select__value" value="3">
                                            Lviv
                                        </option>
                                    </select>
                                    <svg class="header__burger-svg">
                                        <use xlink:href="#geolocation"></use>
                                    </svg>
                                    <div class="header__burger-contact-sm">
                                        <p class="header__burger-tel">
                                            +380935705222
                                        </p>
                                        <a class="header__burger-link" href="#"
                                            >info@hi-light.pl</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="header__block-button">
                <p class="header__language text-trriger">En</p>
                <a class="header__button button-trriger" href="#"
                    >Send Request</a
                >
            </div>
        </div>
    </div>
</header>
