<section class="projects-second">
  <div class="projects-second__container">
    <div class="projects-second__content-box">
       <h2 class="projects-second__title">
      @lorem.ipsum
    </h2>
    <p class="projects-second__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ullamcorper eu mauris vitae posuere. </p>
    </div>
   
  </div>

  <img src="../../images/reused/reused-6.png" alt="photo" class="projects-second__img projects-second__img_first">

  <img src="../../images/reused/reused-5.png" alt="photo" class="projects-second__img projects-second__img_second">

  <img src="../../images/reused/reused-3.png" alt="photo" class="projects-second__img projects-second__img_third">

  <img src="../../images/reused/reused-4.png" alt="photo" class="projects-second__img projects-second__img_fourth">

  <img src="../../images/reused/reused-7.png" alt="photo" class="projects-second__img projects-second__img_fivth">

  <img src="../../images/reused/reused-2.png" alt="photo" class="projects-second__img projects-second__img_sixth">

  <img src="../../images/reused/reused-8.png" alt="photo" class="projects-second__img projects-second__img_seventh">

  <img src="../../images/reused/reused-3.png" alt="photo" class="projects-second__img projects-second__img_eighth">
  
</section>