*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    //overflow: auto;
}

body::-webkit-scrollbar {
    //overflow: overlay;
    width: 3px;
}

body::-webkit-scrollbar-track {
    display: none;
    //position: absolute;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background: $swiperTitle;
    border-radius: 2px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

.body {
    &_lock {
        overflow: hidden;
    }
}
// fonts

/* montserrat-300 */
@font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-weight: 300;
    src:
        url("../fonts/montserrat-v26-latin-300.woff2") format("woff2"),
        url("../fonts/montserrat-v26-latin-300.woff") format("woff");
}

/* montserrat-500 */

@font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-weight: 500;
    src:
        url("../fonts/montserrat-v26-latin-500.woff2") format("woff2"),
        url("../fonts/montserrat-v26-latin-500.woff") format("woff");
}

/* montserrat-600 */

@font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-weight: 600;
    src:
        url("../fonts/montserrat-v26-latin-600.woff2") format("woff2"),
        url("../fonts/montserrat-v26-latin-600.woff") format("woff");
}

/* montserrat-700 */

@font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-weight: 700;
    src:
        url("../fonts/montserrat-v26-latin-700.woff2") format("woff2"),
        url("../fonts/montserrat-v26-latin-700.woff") format("woff");
}

//Adieu

@font-face {
    font-display: swap;
    font-family: "Adieu";
    font-weight: 400;
    src:
        url("../fonts/Adieu-Light.fec6a319.woff2") format("woff2"),
        url("../fonts/Adieu-Light.9bb25a50.woff") format("woff");
}

//FreightBigProMedium-Italic

@font-face {
    font-display: swap;
    font-family: "FreightBigProMedium-Italic";
    font-weight: 400;
    src:
        url("../fonts/FreightBigProMedium-Italic.woff2") format("woff2"),
        url("../fonts/FreightBigProMedium-Italic.woff") format("woff");
}

// breakpoints

[class*="__container"] {
    max-width: 1312px;
    width: 100%;
    margin: 0 auto;

    @include breakpoints(xl) {
        // width: 93%;
        // min-width: 912px;
        padding: 0 20px;
    }

    @include breakpoints(md) {
        width: 93%;
        // min-width: 672px;
        padding: 0 20px;
    }

    @include breakpoints(sm) {
        width: 100%;
        min-width: 327px;
        padding: 0 24px;
    }
}

// global-style

h1,
h2,
h3 {
    font-size: 36px;
    font-weight: 700;
    color: $blackColor;
    font-family: "Montserrat";

    @include breakpoints(sm) {
        font-size: 26px;
    }
}

p {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.7;
    line-height: 171%;
    color: $blackColor;
    font-family: "Montserrat";
}

a {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.06em;
    color: $blackColor;
    font-family: "Montserrat";
}

ul,
ol {
    font-size: 14px;
    line-height: 171%;
    opacity: 0.7;
    font-weight: 300;
    color: $blackColor;
    font-family: "Montserrat";
}

select {
    font-family: "Montserrat";
}
