// white
$modalFormColor: #afb0b2;
$newsCard: #f2f2f2;
$whiteColor: #fff;
$backgroundColor: #fafafa;

//black
$blackColor: #080808;
$headerBlack: rgba(0, 0, 0, 0.4);
$newsLineCard: rgba(49, 49, 49, 0.2);

//gray
$inactiveBlackColor: #828282;
$newsFormImput: rgba(255, 255, 255, 0.3);
$grayArrow: #515151;
$swiperTitle: #3a3e4b;
$headerBackground: rgb(189, 189, 189);
$headerBorder: rgba(255, 255, 255, 0.4);
