// color

$backgroundColor: #fafafa;
$blackColor: #080808;
$whiteColor: #fff;
$inactiveBlackColor: #828282;
$swiperTitle: #3a3e4b;
$newsCard: #f2f2f2;
$newsLineCard: rgba(49, 49, 49, 0.2);
$newsFormImput: rgba(255, 255, 255, 0.3);
$modalFormColor:#afb0b2;