.philosophy-about {
    &__content {
        margin-top: 115px;
        display: flex;
        position: relative;

        @include breakpoints(md) {
            display: block;
            margin-top: 85px;
        }

        @include breakpoints(sm) {
            margin-top: 55px;
        }
    }

    &__text-block {
        position: relative;
        padding: 98px 0 0 67px;

        @include breakpoints(xl) {
            padding: 70px 0 0 37px;
        }

        @include breakpoints(md) {
            padding: 0 0 0 37px;
        }

        @include breakpoints(sm) {
            padding: 0;
        }
    }

    &__title {
        width: 300px;

        @include breakpoints(xl) {
            font-size: 32px;
        }

        @include breakpoints(sm) {
            font-size: 26px;
        }
    }

    &__text {
        width: 383px;
        margin-top: 10px;

        @include breakpoints(xl) {
            width: 360px;
        }

        @include breakpoints(md) {
            width: 80%;
        }

        @include breakpoints(sm) {
            width: 95%;
        }
    }

    &__swiper-block {
        position: absolute;
        right: -28%;
        width: 84%;
        overflow: hidden;

        @include breakpoints(xl) {
            width: 62%;
            right: -5%;
        }

        @include breakpoints(md) {
            position: relative;
            width: 110%;
        }

        @include breakpoints(sm) {
            width: 120%;
            right: 6%;
        }
    }

    &__swiper {
        width: 675px;

        @include breakpoints(md) {
            width: 520px;
        }

        @include breakpoints(sm) {
            width: 400px;
        }

        &-element {
            position: relative;
            margin-top: 42px;
            padding-bottom: 95px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 83%;

            @include breakpoints(xl) {
                padding-bottom: 90px;
            }

            @include breakpoints(md) {
                padding-bottom: 40px;
                width: 50%;
            }

            @include breakpoints(sm) {
                width: 310px;
            }
        }

        &-scrollbar {
            margin-left: 40px;
            width: 73%;
            height: 1px;
            opacity: 0.32;

            @include breakpoints(sm) {
                width: 73%;
            }
        }

        &-pagination {
            margin: 6px 0 0 40px;
            width: 73% !important;
            height: 1px !important;
            background: $inactiveBlackColor;
            opacity: 1;

            @include breakpoints(sm) {
                width: 73% !important;
            }
        }
    }

    &__slide {
    }

    &__button-prev {
        position: absolute;
        gap: 12px;
        display: flex;
    }

    &__button-next {
        gap: 12px;
        display: flex;
    }

    &__button-svg {
        width: 8px;
        height: 12px;
    }

    &__number {
        color: $inactiveBlackColor;
        font-size: 11px;
        font-weight: 300;
        font-family: "Montserrat";
        opacity: 0.5;
    }

    &__button-next {
    }

    &__swiper {
    }

    &__img {
        @include breakpoints(xl) {
            width: 98%;
        }
    }
}

.swiper-horizontal
    > .swiper-pagination-progressbar.swiper-pagination-progressbar.swiper-pagination-horizontal {
    top: 61.9%;
    left: 72%;
    width: 13%;
    background-color: #828282;
    height: 2px;
    z-index: 1;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: $inactiveBlackColor !important;
    opacity: 0.5;
}
